header {
  font-family: georgia;
}

body {
  font-family: arial;
  margin: 0px;
  height: 100%;
}

/* -------------------header------------------- */
header {
  position: relative;
  background-color: black;
}

figure.header {
  display: none;
}

nav {
  display: none;
  display: flex;
  flex-direction: row;
  width: 300px;
}

nav ul {
  display: none;
  flex-direction: column;
  background-color: #B41C20;
  width: 300px;
  list-style: none;
  /* visibility: hidden; */
}

div.header span.logo {
  /* position: absolute; */
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: black;
}

header>div>span.logo>a>img {
  position: absolute;
  height: 40px;
}

header input[type=search] {
  flex-grow: 1;
}

header form {
  display: flex;
  border-style: solid;
  border-color: #B41C20;
  border-width: 6px;
  height: 35px;
  /* margin-top: 40px; */
}

header form img {
  height: 30px;
}

div.header {
  position: sticky;
  top: 0px;
  display: block;
  justify-content: center;
  z-index: 1;
  height: 40px;
  display: flex;
  justify-content: center;
  background-color: black;
  padding: 5px;
  /* margin-top: -40px; */
}

span.icon {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 30px;
  margin-top: 4px;
}

span.icon a img{
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

span.icon a {
  height: 30px;
}

/* -------------------Body------------------- */

article.banner>p>img {
  width: 15px;
  height: 22px;
  margin-left: 5px;
  margin-right: 5px;
}

article.banner>p {
  text-align: center;
  font-size: 13px;
  margin: 0px;
  margin-top: 5px;
}

article.banner>p>a {
  color: black;
}

section.slider div img {
  /* position: absolute; */
  max-width: 100%;
  height: auto;
}
section.slider figure {
  margin: 0;
}

div.slider {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0;
  margin-bottom: 50px;
  max-width: 770px;
  height: auto;
}
div.slider article {
  position: absolute;
  font-size: 23px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  width: 300px;
  max-width: 200%;
  height: 130px;
  bottom: 25px;
}

div.slider a {
  color: black;
  font-size: 18px;
  font-weight: normal;
  margin-top: 30px;
}

div.slider button {
  position: absolute;
  top: 45%;
  padding: 10px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  right: 0px;
}

div.slider button:nth-last-of-type(2) {
  right: 93%;
}

/* -------------------Section twee------------------- */

section.twee {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: scroll;
  height: 470px;
}

section.twee img {
  width: 250px;
  height: auto;
}

section.twee figure {
  display: flex;
  justify-content: center;
}

section.twee figure article {
  position: absolute;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 10px;
  width: 200px;
  max-width: 200%;
  height: 115px;
  bottom: 25px;
}

section.twee a {
  color: black;
  font-weight: normal;
}

section.twee p {
  margin-bottom: 10px;
  margin-top: 5px;
}

/* -------------------Section drie------------------- */

section.drie span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.drie img {
  max-width: 100%;
  height: auto;
}

section.drie button {
  position: absolute;
  bottom: 30px;
  right: 100px;
  background-color: rgba(255, 0, 0, 0.0);
  border-color: white;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  color: white;
  padding: 15px;
  padding-left: 35px;
  padding-right: 35px;
  right: 120px;

}

/* -------------------Section vier------------------- */



section.vier article {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  overflow: scroll;
}

section.vier article figure {
  text-align: center;
  height: 300px;
  margin-top: 100px;
}

section.vier h3 {
  position: absolute;
  margin-left: 50px;
  margin-top: 40px;
  padding-bottom: 30px;
}

/* -------------------Footer------------------- */

footer {
  margin: 20px;
}

section.klantenservice article{
  font-size: 15px;
  /* margin: 10px; */
}

nav.klantenservice {
  display: flex;
  justify-content: flex-start;
  margin-top: 30px;
}
nav.klantenservice a img {
  height: 50px;
  margin-bottom: 10px;
  margin-right: 10px;
}

section.klantenservice button {
  padding: 10px;
  background-color: #E5E5E5;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-width: 0.1px;
  border-color: lightgray;
  border-radius: 6px;
}

section.email article img{
  width: 30px;
  height: 15px;
  margin-top: 5px;
  padding:10px;
}

section.email article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* height: 10px; */
}

/* ------------------------BACKSTAGE CLUB------------------------ */

body.bsc span.video {
  position: relative;
}
